h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif
}
.bgimg-1, .bgimg-2 {
    font-family: "Montserrat", sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bgimg-1{
    background-image: url("../img/background_4.jpg");
    min-height: 100%;
}
.bgimg-2{
    background-image: url("../img/background_2.jpg");
    min-height: 600px;
}
.w3-row-padding img {
    margin-bottom: 12px
}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
    width: 120px;
    background: #222;
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
    margin-left: 120px
}

.w3-padding-bottom-12{padding-bottom:12px!important}
.w3-padding-0{padding-bottom:0px!important}
.w3-padding-top-12{padding-top:12px!important}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
}